.metrics {
    font-size: 18px;
}

.tweet-content {
    font-size: 21px;
}

.time {
    margin-top: 25px;
}

ion-icon {
    cursor: pointer;
}

.green {
    color: #18b518;
}

.half-opacity {
    opacity: 0.5;
}

.username-root {
    font-size: 18px;
}