.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.icon {
    margin-right: 5px;
}

.bio {
    max-width: 350px;
}

.profile-picture {
    width: 150px;
    height: 150px;
}

.tweet-box-container {
    background-color: var(--ion-color-primary);
    padding: 2px;
}

.metrics {
    font-size: 18px;
}

.tweet-content {
    font-size: 21px;
}

ion-card { 
    transition: 0.25s ease-in-out all;
    &:hover {
        transform: scale(1.02);
    }
}