<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="getUserData($event)">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Twittonic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container-lg d-flex flex-column align-items-center justify-content-center text-center">
    <div *ngIf="!userInfo && !userInfoLoading" class="login-request">
      <h1>Per utilizzare quest'applicazione, devi accedere con il tuo account Twitter.</h1>
      <div class="text-center d-flex flex-column justify-content-center align-items-center flex-lg-row">
        <ion-button color="tertiary fw-bold" (click)="startAuth()">
          Accedi
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-button>
        <span class="m-1">oppure</span> 
        <ion-button color="tertiary fw-bold" (click)="getUserData($event)">
          Riprova
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div *ngIf="userInfoLoading" class="d-flex flex-column justify-content-between align-items-center w-100">
      <ion-skeleton-text style="height: 40px; width: 80%; max-width: 400px; margin: 10px 0px;" animated>
      </ion-skeleton-text>
      <ion-card class="user-card-skeleton d-flex flex-column justify-content-start align-items-center">
        <ion-skeleton-text class="user-image-skeleton" style="width: 150px; height: 150px; border-radius: 100%; margin-top: 15px;" animated>
        </ion-skeleton-text>
        <ion-skeleton-text style="height: 20px; width: 25%;" animated>
        </ion-skeleton-text>
        <ion-skeleton-text style="height: 15px; width: 30%;" animated>
        </ion-skeleton-text>
        <div class="w-100 d-flex justify-content-evenly align-items-center my-4">
          <ion-skeleton-text style="height: 15px; width: 40%;" animated>
          </ion-skeleton-text>
          <ion-skeleton-text style="height: 15px; width: 40%;" animated>
          </ion-skeleton-text>
        </div>
        <ion-skeleton-text style="height: 100px; width: 80%;" animated>
        </ion-skeleton-text>
        <ion-skeleton-text style="height: 15px; width: 80%; margin-top: 60px;" animated>
        </ion-skeleton-text>
      </ion-card>
      <ion-skeleton-text style="height: 150px; width: 100%; max-width: 425px; margin-top: 30px;" class="my-4">
      </ion-skeleton-text>
    </div>
    
    <div *ngIf="userInfo && !userInfoLoading">
      <h1 class="text-start my-3 text-break">Benvenuto, <b> {{ userInfo.name }} </b> </h1>
      <ion-card class="position-relative">
        <ion-icon class="user-options" name="ellipsis-vertical" (click)="showSettings($event)"></ion-icon>
        <img class="img-fluid mt-3 br-100 profile-picture" [src]="userInfo.profile_image_url | getHqPicture">
        <ion-card-header>
          <ion-card-title class="d-flex justify-content-center align-items-center text-break">
            <b class="mx-1 my-1">{{ userInfo.name }}</b>
            <ion-icon *ngIf="userInfo.verified" name="checkmark-circle"></ion-icon>
          </ion-card-title>

          <ion-card-subtitle class="text-break">
            @{{ userInfo.username }}
          </ion-card-subtitle>

          <ion-card-subtitle>
            <div class="d-inline-flex justify-content-center align-items-center p-2 text-break">
              <ion-icon name="location" class="icon"></ion-icon>
              {{ userInfo.location }}
            </div>
            <div class="d-inline-flex justify-content-center align-items-center p-2 text-break">
              <ion-icon name="calendar" class="icon"></ion-icon>
              Iscritto il {{ userInfo.created_at | formattedDate }}
            </div>
          </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content *ngIf="userInfo.description" class="d-flex justify-content-center align-items-center">
          <div class="bio text-break">
            {{ userInfo.description }}
          </div>
        </ion-card-content>

        <ion-card-content *ngIf="userInfo.public_metrics" class="text-break">
          <div>
            <b>{{ userInfo.public_metrics.followers_count }}</b> follower
            •
            <b>{{ userInfo.public_metrics.following_count }}</b> following
            •
            <b>{{ userInfo.public_metrics.tweet_count }}</b> tweet
          </div>
        </ion-card-content>
      </ion-card>

      <div class="d-flex flex-column justify-content-center align-items-end">
        <ion-item class="br-4px mt-5 tweet-box-container w-100">
          <ion-textarea class="w-100" [(ngModel)]="tweetContent" rows="4" placeholder="Che c'è di nuovo?" maxlength="280" minlength="1" autoGrow="true">
          </ion-textarea>
        </ion-item>
        <div class="d-flex justify-content-center align-items-center">
          <span *ngIf="tweetContent" class="mx-1">{{ tweetContent?.length }}/280</span>
          <ion-button class="tertiary fw-bold text-uppercase my-2" (click)="postTweet()" [disabled]="!tweetContent">
            <span *ngIf="!tweetSending" class="mx-2">Twitta</span>
            <ion-icon *ngIf="!tweetSending" name="send"></ion-icon>
            <ion-spinner *ngIf="tweetSending" name="lines"></ion-spinner>
          </ion-button>
        </div>
      </div>
    </div>

    <div class="row w-lg-50 mt-3">
      <h1 *ngIf="userInfo">I tuoi tweet</h1>
      <ion-spinner *ngIf="tweetsLoading" name="bubbles"></ion-spinner>
      <div class="col-12" *ngFor="let tweet of ownTweets" [ngStyle]="{ 'display': tweetsLoading ? 'none' : 'block' }">
        <app-tweet [tweet]="tweet"></app-tweet>
      </div>
    </div>

  </div>
</ion-content>
