.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.icon {
    margin-right: 5px;
}

.bio {
    max-width: 350px;
}

.profile-picture {
    width: 150px;
    height: 150px;
}

.user-options {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
}

.login-request {
    padding: 25vh 0;
}

/* ion-card { 
    transition: 0.25s ease-in-out all;
    &:hover {
        transform: scale(1.02);
    }
} */