<ng-container class="w-100" *ngFor="let htmlObject of htmlObjects">
  <ng-container *ngIf="!htmlObject.transform">
    {{ htmlObject.content }}
  </ng-container>
  <a class="clickable" target="_blank" *ngIf="htmlObject.transform && htmlObject.href" [href]="htmlObject.href">
    {{ htmlObject.content }}
  </a>
  <a class="clickable" *ngIf="htmlObject.transform && htmlObject.routerLink" [routerLink]="htmlObject.routerLink" [queryParams]="htmlObject.queryParams">
    {{ htmlObject.content }}
  </a>
  <ng-content></ng-content>
</ng-container> 